
.navbar-icon-fee-estimator:before {
  background-image: url("icons/787878/puzzlepiece.svg");
}
.no-svg .navbar-icon-fee-estimator:before {
  background-image: url("icons/787878/puzzlepiece.png");
}
.navbar-icon-fee-estimator:active:before,
.navbar-icon-fee-estimator.navbar-active:before {
  background-image: url("icons/000000/puzzlepiece.svg");
}
.no-svg .navbar-icon-fee-estimator:active:before,
.no-svg .navbar-icon-fee-estimator.navbar-active:before {
  background-image: url("icons/000000/puzzlepiece.png");
}

.container-pad-v-10 {
  padding: 10px 0;
}

.container-pad-v-20 {
  padding: 20px 0;
}

.container-pad-v-40 {
  padding: 40px 0;
}

/* Green button */
a.button-green {
  cursor: pointer;
  border-radius: 0;
  border: none;
  padding: 6px 10px;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background: #4d8f46;
  transition: all, 0.3s;
}

a.button-green:hover {
  text-decoration: none;
  background: #0a6700;
}

a.button-green:focus {
  outline: 3px solid #D0E8CE;
}

/* Blue button */
a.button-blue {
  cursor: pointer;
  border-radius: 0;
  border: none;
  padding: 6px 10px;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background: #0074BD;
  transition: all, 0.3s;
}

a.button-blue:hover {
  background: #004c99;
}

a.button-blue:focus {
  outline: 3px solid #D2E4F7;
}

/* Orange button */
a.button-orange {
  cursor: pointer;
  border-radius: 0;
  border: none;
  padding: 6px 10px;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background: #f69231;
  transition: all, 0.3s;
}

a.button-orange:hover {
  background: #ef6114;
  text-decoration: none;
}

a.button-orange:focus {
  outline: 3px solid #FFE8D2;
}

/* Red button */
a.button-red {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 0;
  border: none;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background: #b73939;
  transition: all, 0.3s;
}

a.button-red:hover {
  background: #990000;
}

a.button-red:focus {
  outline: 3px solid #FFD8D8;
}

input[type="submit"].estimator-submit-prev {
  margin-right: 10%;
}

input[type="submit"].estimator-submit-next, input[type="submit"].estimator-submit-prev {
  width: 45%;
  float: left;
  clear: none;
}

.tuition-preview {
  width: 100%;
}

.tuition-preview-token-label {
  width: 30%;
}

.form-unpublished-admin {
  background-color: #FFE6E6;
}

.total-cost-container {
  background-color: #f0f0f0;
}

.total-cost-container .total-cost-field {
  font-size: 150%;
  font-weight: bold;
}
